<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body  class=" h-screen w-full flex items-center justify-center bg-[#0E1B47] relative">
    <div class="absolute inset-0 bg-[radial-gradient(circle,#E47469_5%,rgba(14,27,71,1)_60%)] -z-50">
       

        


    </div>

    
    <div class=" bg-amber-50  w-[25em] h-[25em]">
        <fieldset class="outline-2 outline-amber-400">

            <form action="/Login" method="post">

                <input type="email" name="email" id="email" placeholder="escreva ">
                <input type="password" name="senha" id="senha" placeholder="escreva">
                
    
            </form>
        </fieldset>
       
    </div>
   

    
</body>
</html>
